<div class="navbar-container">
  <div class="navbar-logo">
      <h5><img src="../../../assets/adeprologo.jpeg" alt="Logo ADEPRO"></h5>
  </div>
  <nav class="navbar-nav">
      <a href="">Accueille</a>
      <a href="ingredients">Ingrédients</a>
      <a href="recettes">Recettes</a>
      <a href="createrecette">Créer une recette</a> <!-- Nouveau lien -->
      <a href="createingredient">Création d'ingredient</a>
      <a href="managementingredient">Gestion</a>
  </nav>
  <a class="navbar-btn" href="#">Connection</a>
</div>